main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

@media (max-width: 768px) {
}    main {
        grid-template-columns: repeat(2, 1fr);
    }

@media (max-width: 375px) {
}   main {
        grid-template-columns: repeat(2, 1fr);
}
